<article>
  <section id="splash">
    <p id="errorMessage">Loading...</p>
  </section>
  <section id="app" hidden>
    <div class="row">
          <p><video id="monitor" autoplay></video>
          <p><input type="button"  id = "shootButton" value="Shoot" class="btn btn-primary">
              <input type="button"  id = "shootXButton" value="Shoot 10 times" class="btn btn-primary">
              <input type="button"  id = "shootInfinitiveButton" value="Shoot infinitive" class="btn btn-primary">
    </div>
    <div class="row">
      <span id = "snapshots"> </span>
    </div>
    <div class="row">
      <div class="row">
           <p><a href="#" id='link' class="btn btn-primary" role="button">Download Picture</a>
            <a href="#" id="convertgrey" class="btn btn-primary" role="button">Convert To GreyScale</a>
            <a href="#" id="convertsepia" class="btn btn-primary" role="button">Convert To Sepia</a>
            <a href="#" id="returncolour" class="btn btn-primary" role="button">Return To Colour</a>
            <a href="#" id='fullscreen' class="btn btn-primary" role="button">View Final Image</a>
      </div>
      <div class="row">
            <div id="dropArea" class="center-block">
              <canvas id="dropPic" width="360" height="260"></canvas> 
            </div>
      </div>
    </div>
  </section>
</article>
