
<div ng-app="myApp" >
<div ng-controller="uploadController">
  <div class="reveal-animation uploadedPics" ng-repeat="pic in pictures">
  	<a href="#">
  		<img src="{{ pic.image_data }}"/>
  	</a>
  </div>     
  </div>
 </div>
</div>
