<h1>Your pictures</h1>
<%= link_to 'Shoot more', root_path %>

<div class = "pictures">
<% @pictures.each do |picture| %>
    <img src= "<%= picture.image_data %>" alt ="<%= picture.name %>" />
<% end %>
</div>
