/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootswatch/amelia/bootstrap
 */
video {
			transform: scaleX(-1); 
			width: 400px;
			height: 300px;
}

p { 
			text-align: center;
}

span img {
 			margin: 2px;
}

#dropPic {
 			margin: 0px;
 			background-color: darkgrey;
}

#dropArea {
      width: 400px;
      height: 300px;
      

      
      /*border: 1px solid grey; */
      /*z-index: -10;*/
}

#dropArea .over {
      border: 3px dashed #000;
}
.smallpic{
	width: 160px;
	height: 120px;
	border: 10px solid black;
	margin-right: 60px;
}

body{
	margin-top: 60px !important;
}
#snapshots div{
	position: relative;

}
/*Device*/
.login{
			max-width: 480px
}
.login input{
			max-width: 450px
}
/*end Device*/
#fileNameDiv{
	position: fixed;
	left: 0px;
  top: 40px;
  z-index: 100;

}

.snapshots {
	overflow:scroll;
	background-image: url(filmstrip2.jpg);
	padding-left: 35px;
	padding-top: 8px;
	margin-left: auto;
	margin-right: auto;
	
	width: 235px;
	/*
  height: 700px;
  */
	
}

#monitor {
	margin-right: 5px;
}

.description {
	text-align: justify;
	font-size: 120%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

