<div ng-app="myApp">
	<a id="scrollLeft" ng-href="/public/{{($scope.id>1)?$scope.id-1:0}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a id="scrollRight" ng-href="/public/{{$scope.id+1}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></a>
<div ng-controller="PublicController" id="pics">
  <div class="reveal-animation uploadedPics" ng-repeat="pic in pictures">
  	<a ng-href="/show/{{pic.id}}">
  		<img ng-src="{{pic.image_data}}"/>
  	</a>
  </div>     
  </div>
</div>
