<div data-ng-app="myApp">
	<a id="scrollLeft" data-ng-href="/public/{{($scope.id>1)?$scope.id-1:0}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a id="scrollRight" data-ng-href="/public/{{$scope.id+1}}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></a>
<div data-ng-controller="PublicController" id="pics">
  <div class="reveal-animation uploadedPics" data-ng-repeat="pic in pictures">
  	<a data-ng-href="/show/{{pic.id}}">
  		<img data-ng-src="{{pic.image_data}}"/>
  	</a>
  </div>     
  </div>
</div>
